body{
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0px;
  padding: 0px;
}

#content{
  padding-top: 20px;
  padding-left: 20px;
  background-color: #EFEFEF;
}

#save {
  padding: 2px 10px;
}

.subtitle {
  /* width: 75px; */
  margin-top: -15px;
  background-color: #EFEFEF;
}

.subcontent {
  padding: 5px 10px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.projection{
  padding-top: 15px;
  gap: 10px;
}

.projection button {
  padding: 2px 10px;
}

.util {
  padding-top: 15px;
  gap: 10px;
}

.util button {
  padding: 2px 10px;
}

.value {
  display: inline-block;
  width: 25px;
}

.popup {
  position: relative;
  margin: inherit;
  bottom: 10%;
}

.popup .popuptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: medium;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
}

.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}